<ul>
  <% @links.each do |link| %>
    <li>
      <p>
        <%= link_to link.name, link.url %>
        <span class="link-<%=link.id%>"><%= link.votes %></span>
        <%= button_to '↑', upvote_path(link), remote: true %>
        <%= button_to '↓', downvote_path(link), remote: true %>
      </p>
    </li>
  <% end %>
</ul>
