<%= render 'shared/navigation' %>

<div class="feed-container">
  <ul class="feed">
    <% @links.each do |link| %>
      <li class="feed-item">
        <div class="votes-mod">
          <%= button_to '', upvote_path(link), remote: true, class: 'btn-upvote' %>
          <div class="link-<%=link.id%>"><%= link.votes %></div>
          <%= button_to '', downvote_path(link), remote: true, class: 'btn-downvote' %>
        </div>
        <div class="link-content">
          <p><%= link_to link.name, link.url, class: 'link-url' %></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<div class="form-container">
  <div class="btn-new">
    <p>+ New</p>
  </div>
</div>
